div#root{
  margin:auto;
  width: 100%;
  display: grid;
  grid-template-rows: 150px 1fr;
}

#bottom{
  height: 575px;
  border: 10px dashed pink;
  display: grid;
  grid-template-columns: 200px 1fr 120px;
}

@media(max-width:650px){
  #bottom{
    height: 820px;
    display: block;
  }

  #menu{
    height: 120px;
  }

  #content{
    height: 600px;
  }

  #banner{

    height: 100px;
  }

}
